---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">404</h1>
    <p class="text-lg">Lo siento, la página que estás buscando no se encuentra.</p>
  </main>
</Layout>