---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl } from '@i18n/utils';
import type { SrcSetValue } from 'node_modules/astro/dist/assets/types';

import slide1 from '@assets/inside_1.jpeg';
import slide2 from '@assets/inside_2.jpeg';
import slide3 from '@assets/products_2.jpeg';
import slide4 from '@assets/products.jpeg';

interface Image {
  src: SrcSetValue;
  alt: {
    es: string;
    eus: string;
  };
}

interface Title {
  es: string;
  eus: string;
}

const title: Title = {
  es: "Nuestra Galería",
  eus: "Gure galeria"
}

const images: Image[] = [
  {
    src: slide1,
    alt: {
      es: 'Corte de cabello moderno',
      eus: 'Modernu ilea korteak'
    }
  },
  {
    src: slide2,
    alt: {
      es: 'Coloración profesional',
      eus: 'Profesioanla koloreak'
    }
  },
  {
    src: slide3,
    alt: {
      es: 'Peinado especial',
      eus: 'Especiala peinatua'
    } 
  },
  {
    src: slide4,
    alt: {
      es: 'Tratamiento capilar',
      eus: 'Capilar tratamenduak'
    }
  }
];

const lang = getLangFromUrl(Astro.url);
---

<section class="py-20">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">{title[lang]}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {images.map((image) => (
        <div class="relative group">
          <Image 
            src={image.src} 
            alt={image.alt[lang]}
            width={100}
            height={256}
            class="w-full h-full object-cover rounded-lg transition-transform group-hover:scale-105"
          />
          <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 transition-opacity flex items-center justify-center">
            <h3 class="text-white text-lg font-semibold">{image.alt[lang]}</h3>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
