---
import Layout from "@layouts/Layout.astro";

import BookSlot from "@components/BookSlot.astro";

const currentDate = new Date();
const today = currentDate.toISOString().split("T")[0];

const tomorrow = new Date(currentDate);
tomorrow.setDate(tomorrow.getDate() + 1);
const tomorrowDate = tomorrow.toISOString().split("T")[0];

interface Slot {
  hour: string;
}

interface AvailableHours {
  today: Slot[];
  tomorrow: Slot[];
}

// 🔗 URL de tu API REST
const response = await fetch("http://localhost:8000/api/available-bookings"); // Ajusta la URL real
const json = await response.json();

const abliables_hours: AvailableHours = json.data.available_hours || { today: [], tomorrow: [] };

---

<Layout>
  <div class="container mx-10 px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Erreserba</h1>
    <p class="mb-6">Hemen zure hitzordua erreserbatu dezakezu.</p>
    <div class="flex flex-col md:flex-col">
      <div>
        <h2 class="text-2xl font-semibold mb-4">Gaur: {today}</h2>
        <BookSlot
          slots={abliables_hours.today.map((slot) => ({
            time: slot.hour,
            date: today,
          }))}
        />
      </div>
      <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Bihar: {tomorrowDate}</h2>
        <BookSlot
          slots={abliables_hours.tomorrow.map((slot) => ({
            time: slot.hour,
            date: tomorrowDate,
          }))}
        />
      </div>
  </div>
</Layout>
