---
import Layout from "@layouts/Layout.astro";

import BookSlot from "@components/BookSlot.astro";

const currentDate = new Date();
const today = currentDate.toISOString().split("T")[0];
const todayText = new Date().toLocaleDateString("es-ES", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
});


const tomorrow = new Date(currentDate);
tomorrow.setDate(tomorrow.getDate() + 1);
const tomorrowDate = tomorrow.toISOString().split("T")[0];
const tomorrowText = new Date(tomorrow).toLocaleDateString("es-ES", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
});

interface Slot {
  hour: string;
}

interface DiaDisponible {
  fecha: string;
  horas_disponibles: Slot[];
}
const response = await fetch("http://localhost:8000/api/available-bookings");
const json = await response.json();

// Convertimos el objeto `data` en un array ordenado por clave
const diasDisponibles: DiaDisponible[] = Object.values(json.data);

// Opcional: aseguramos orden por fecha por si el backend no lo garantiza
diasDisponibles.sort((a, b) => new Date(a.fecha).getTime() - new Date(b.fecha).getTime());
---

<Layout>
  <div class="container mx-10 px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Reserva</h1>
    <p class="mb-6">Aquí puede reservar su turno.</p>

    {diasDisponibles.map((dia) => {
      var fechaTexto = new Date(dia.fecha).toLocaleDateString("es-ES", {
          weekday: "long",
          month: "long",
          day: "numeric",
      });

      fechaTexto = fechaTexto.charAt(0).toUpperCase() + fechaTexto.slice(1);
      
      if (dia.fecha === today) {
        fechaTexto = `Hoy, ${fechaTexto}`;
      } else if (dia.fecha === tomorrowDate) {
        fechaTexto = `Mañana, ${fechaTexto}`;
      }

      return (
        <div class="mt-8">
          <h2 class="text-2xl font-semibold mb-4">{fechaTexto}</h2>
          <BookSlot
            slots={dia.horas_disponibles.map((slot) => ({
              time: slot.hour,
              date: dia.fecha,
            }))}
          />
        </div>
      );
    })}
  </div>
</Layout>